@import '~bootstrap/scss/bootstrap';

* {
    user-select: none;
}

img {
    max-width: 100%;

}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: calc(100vh - 76px);
    position: relative;
    overflow: auto;

    .background-img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;

        z-index: -1;
    }

}

//app.blade
nav {
    background-color: #FFC244;

    .logo_deliveboo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        overflow: hidden;

        img {
            position: relative;
            width: 200px;
            top: 0;
        }
    }
}

//Login & register "/" page ------------------------------------------------------------------------------------------------------------------------------------------

.login,
.register {
    overflow-y: auto;
    height: 100%;
    padding: 2rem 0;
    background-image: url('https://www.eatingwell.com/thmb/m5xUzIOmhWSoXZnY-oZcO9SdArQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/article_291139_the-top-10-healthiest-foods-for-kids_-02-4b745e57928c4786a61b47d8ba920058.jpg');
    background-size: cover;

    .ms_card {
        background-color: rgba($color: #333333, $alpha: .7);
        color: #ffffff;

        i {
            color: #fff;
        }

        .invalid-feedback {
            color: #FFC107;
            font-size: 18px;
            font-weight: bold;

            h6 {
                font-size: 18px;
                font-weight: bold;
            }
        }

        .is-invalid {
            border-color: #FFC107;
        }

        .btn-link {
            color: #FFC244;
        }

        input {
            background-color: rgba($color: #181818, $alpha: .5);
            border-color: black;
            color: #ffff;

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba($color: #FFC244, $alpha: 0.25);

            }

        }

        .card-header {
            background-color: rgba($color: #333333, $alpha: .5);
            font-weight: bold;
        }
    }

}

//CREATE RESTAURANT-----------------------------------------------------------------------
.restaurants {
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    .container {

        border-radius: 20px;
        background-color: #FFF3DA;
        box-shadow: 0px 10px 30px rgb(49, 49, 49);
        padding: 0;
        overflow: hidden;

        .background {

            position: relative;

            img {
                position: absolute;
                object-fit: cover;
                height: 100%;
                width: 100%;
                z-index: 1;
            }
        }

        .welcome {
            width: 100%;
            margin: 0 auto;
            text-align: center;

            .img-container {

                width: 50%;
                min-width: 150px;
                margin: 0 auto;
                height: 120px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                @media screen and (max-width:500px) {
                    height: 50px;
                }

                img {
                    text-align: center;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        form {
            position: relative;
            z-index: 3;
            max-width: 726px;
            margin: 0 auto;
            background-color: #fff;
            padding: 1rem 2rem;
            overflow: hidden;

            .img-preview-container {
                height: 150px;
                overflow: hidden;
                position: relative;

                #image-preview {
                    position: absolute;
                    object-fit: cover;
                    height: 150px;
                }
            }
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .form-tags-container {
        flex-wrap: wrap;
        justify-content: center;


        .form-ceck-tag {
            position: relative;
            width: 80px;
            height: 30px;
            padding: 0;
            cursor: pointer;
            margin-right: 5px;
            z-index: 2;

            .form-check-input:focus {
                box-shadow: none;
            }

            .form-check-input:checked[type=checkbox] {
                background-image: none;
                border-color: black;
                background-color: rgba(255, 165, 47, 1);
            }

            .form-check-input {
                background-color: rgba(255, 165, 47, 0.708);
                cursor: pointer;
            }

            .absolute {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-weight: bold;
                font-size: .7rem;
                z-index: 1;
                cursor: pointer;
            }

            .ms_form-check {
                width: 80px;
                height: 30px;
                padding: 0;
                margin: 0;

            }
        }

        .checkbox-error {
            color: var(--bs-form-invalid-color);
            font-size: 0.875em;
        }
    }
}

// DASHBOARD ----------------------------------------------------------------


.wrapper {
    position: relative;
    height: calc(100vh - 80px);
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;

    //NO RESTAURANT / NEW USER 
    .new-user {
        height: calc(100vh - 80px);

        .no-restaurants {
            background-color: #FFF3DA;

            box-shadow: 0px 10px 30px rgb(49, 49, 49);
            padding: 1rem 0;

            &::-webkit-scrollbar {
                display: none;
            }

            .welcome {
                width: 100%;
                margin: 0 auto;
                text-align: center;

                .img-container {

                    width: 50%;
                    min-width: 150px;
                    margin: 0 auto;
                    height: 120px;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @media screen and (max-width:500px) {
                        height: 50px;
                    }

                    img {
                        text-align: center;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .hero {

                overflow: hidden;
                box-shadow: 0px 10px 20px rgb(114, 114, 114);

                .ms_row {
                    border-bottom: 1px solid grey;
                    display: flex;
                    height: 150px;

                    @media screen and (max-width: 768px) {
                        height: auto;
                    }

                    .text {

                        width: 70%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        background-color: #ffffff;
                    }

                    .img-hero-container {

                        width: 30%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    @media screen and (max-width: 768px) {
                        flex-direction: column;

                        .text,
                        .img-hero-container {
                            width: 100%;
                            height: 250px;
                        }
                    }

                }

                .central {
                    @media screen and (max-width: 768px) {
                        flex-direction: column-reverse;
                    }
                }
            }
        }
    }

    //with the restaurant--------------------------------------------------------
    .restaurant {
        height: calc(100vh - 80px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .card {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 0;
            padding-bottom: 2rem;
            box-shadow: 0px 0px 10px grey;



            .card-img {
                height: 250px;
                width: 100%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .card-body {
                width: 100%;
                padding: 0 1.5rem;

                .restaurant-detail-card-container {
                    position: relative;
                    min-height: 110px;
                    // z-index: 1;

                    .restaurant-detail-card {
                        position: absolute;
                        padding: 1rem 2rem;
                        top: -100px;
                        border-radius: 20px;
                        box-shadow: 0px 10px 15px rgb(166, 166, 166);
                        background-color: white;
                        left: 0;
                        right: 50%;

                        @media screen and (min-width:200px) {
                            width: 100%;
                        }

                        @media screen and (max-width:390px) {
                            top: -150px;
                        }

                        @media screen and (min-width:768px) {
                            width: 70%;
                        }

                        @media screen and (min-width:1000px) {
                            top: -60px;
                        }


                        h2 {
                            margin: 0;
                            font-weight: 700;
                            font-size: 3rem;
                        }

                        p {
                            margin: 0;
                            font-size: .8rem;
                            color: #797979;
                        }

                        p.description {
                            font-size: .9rem;
                            text-align: left;
                            color: black;
                        }
                    }
                }

                //---------------product section-----------------------------------------------------------------
                .products {
                    background-color: #FFC244;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px grey;
                    padding-top: .5rem;
                    height: 450px;

                    .restaurant-actions {
                        border-top: 1px solid rgb(151, 151, 151);
                        height: calc(100% - 50px);
                        background-color: #e4e4e4;
                    }

                    .actions {
                        border-bottom: 1px solid rgb(155, 155, 155);
                        text-align: center;
                        padding: .5rem;
                        box-shadow: 0px 5px 10px rgb(172, 172, 172);
                        position: relative;
                        z-index: 2;

                        .btn {
                            font-size: .7rem;
                            display: inline-block;
                            margin: 0 auto;
                        }

                        .ms_button-green {
                            background-color: #27A182;
                            color: white;
                        }
                    }

                    .products-showcase {
                        background-color: #ffff;
                        height: calc(100% - 48px);

                        .container {

                            height: 100%;
                            overflow: auto;

                            .row {

                                padding: 1rem 0;
                                justify-content: center;

                                .ms_col {
                                    position: relative;
                                    height: 280px;
                                    padding: .5rem .25rem;
                                    padding-top: 0;
                                    width: 350px;

                                    .overlay {
                                        position: absolute;
                                        top: 0;
                                        right: 3px;
                                        bottom: 0;
                                        left: 3px;
                                        background-color: rgba($color: #000000, $alpha: .5);
                                        z-index: 3;
                                        border-radius: 10px;
                                        text-align: center;
                                        padding-top: 4rem;

                                        i {
                                            font-size: 50px;

                                        }

                                        p {
                                            font-size: 30px;
                                            color: #ffff;
                                            text-decoration: underline;
                                        }

                                    }

                                    .ms_card-top {
                                        height: 100px;
                                        border-top-left-radius: 10px;
                                        border-top-right-radius: 10px;
                                        overflow: hidden;
                                        box-shadow: 0px -3px 20px rgb(155, 155, 155);

                                        img {
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                        }
                                    }

                                    .ms_card-body {
                                        height: 180px;
                                        position: relative;
                                        padding: 0 .5rem;
                                        padding-top: 1rem;
                                        box-shadow: 0px 5px 15px rgb(109, 109, 109);
                                        border-bottom-left-radius: 10px;
                                        border-bottom-right-radius: 10px;

                                        .card-info {
                                            height: 110px;
                                        }

                                        .product-card-title {
                                            position: absolute;
                                            padding: .3rem .5rem;
                                            background-color: #ffff;
                                            top: -34px;
                                            border: 1px solid rgb(109, 109, 109);
                                            box-shadow: 0px 5px 10px rgb(109, 109, 109);
                                            left: 50%;
                                            width: 80%;
                                            transform: translateX(-50%);
                                            border-radius: 10px;
                                            z-index: 2;
                                        }

                                        .description {
                                            margin-top: -10px;
                                        }

                                        .buttons {
                                            height: 50px;
                                            display: flex;
                                            justify-content: space-evenly;
                                            position: relative;
                                            z-index: 4;

                                            .button {
                                                width: 100px;

                                                div {
                                                    margin-top: -5px;
                                                }

                                                .btn {
                                                    width: 100%;
                                                    height: 100%;
                                                    font-size: 15px;

                                                }
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Product Show ----------------------------------------------
    .container{
        overflow-y: auto;
        height: 100%;
        &::-webkit-scrollbar {
            display: none;
        }
        .ms_show-card {
            margin: 2rem auto;
            max-width: 700px;
            border-radius: 10px;
            background-color: white;
            overflow: hidden;
            box-shadow: 0 10px 10px rgba(80, 80, 80, 0.8);
        
            .ms_show-card-top {
                max-height: 40%;
                overflow: hidden;
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        
            .ms_show-card-body {
                height: 60%;
                padding: 1rem 1rem;
            }
        }
    }

    // PRODUCT EDIT AND CREATE

    .ms_container {
        width: 50%;
        margin: 0 auto;

        .ms_form {
            background-color: #27a182b3;
            padding: 20px;
            box-shadow: 0 10px 15px rgba(80, 80, 80, 0.8);
        }

        .ms_form-edit {
            background-color: #0d6dfdb0;
            padding: 20px;
            box-shadow: 0 10px 15px rgba(80, 80, 80, 0.8);
        }
    }


    @media screen and (max-width: 900px) {

        .ms_container {
            width: 80%;
        }
    }
}




/* SESSIONE-MESSAGE.BLADE */

.ms_popup-message {
    width: 80%;
    left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    z-index: 500;
    position: relative;
    background-color: #E1F4E5;
    color: rgb(3, 3, 3);
    box-shadow: 0px 10px 20px black;
}